<!DOCTYPE html>
<html lang="es">
<head>
    <title>
        <!--se coloca el titulo de la pagina en la cual estamos-->
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/images/favicon.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/icon.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styleCa.css')}}">
    
<body>
 
  {% block body %}
  {% endblock %}
  <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
  <script src="{{url_for('static', filename='js/custom.js')}}"></script>
  <script src="{{url_for('static', filename='js/customCa.js')}}"></script>
  <script src="{{url_for('static', filename='js/guardar/login.js')}}"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>