{% extends "./layout.html" %}
{% block body %}
  <!-- header section strats -->
<header class="header_section">
  <div class="container">
     <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html"><img width="250" src="{{url_for('static', filename='assets/images/logo.png')}}" alt="#" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav">
              <li class="nav-item">
                 <a class="nav-link" href="/fronted/index">Home <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label"> Categorias <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                  <li><a href="/fronted/accesorios">Accesorios</a></li>
                  <li><a href="/fronted/ropa">Ropa</a></li>
                  <li><a href="/fronted/comida">Comida</a></li>
                 </ul>
              </li>

           </ul>
        </div>
     </nav>
  </div>
</header>
<!-- end header section -->
</div>
<!-- inner page section -->
<section class="inner_page_head">
<div class="container_fuild">
  <div class="row">
     <div class="col-md-12">
        <div class="full">
           <h3>ACCESORIOS</h3>
        </div>
     </div>
  </div>
</div>
</section>
<!-- end inner page section -->
<!-- product section 
<section class="product_section layout_padding">

  <div class="row">

     <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
           <div class="option_container">
              <div class="options">
                
                 <a href="" class="option2">Comprar Ahora</a>
              </div>
           </div>
           <div class="img-box">
              <img src="{{url_for('static', filename='assets/images/Reloji.jpg')}}" alt="">
           </div>
           <div class="detail-box">
              <h5>Reloj Invicta </h5>
              <h6>$750.699</h6>
           </div>
        </div>
     </div>

     <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
           <div class="option_container">
              <div class="options">
                
                 <a href="" class="option2">Comprar Ahora</a>
              </div>
           </div>
           <div class="img-box">
              <img src="{{url_for('static', filename='assets/images/RelojF.jpg')}}" alt="">
           </div>
           <div class="detail-box">
              <h5>Reloj de dama </h5>
              <h6>$800.000</h6>
           </div>
        </div>
     </div>

     <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
           <div class="option_container">
              <div class="options">
                
                 <a href="" class="option2">Comprar Ahora</a>
              </div>
           </div>
           <div class="img-box">
              <img src="{{url_for('static', filename='assets/images/Relojin.jpg')}}" alt="">
           </div>
           <div class="detail-box">
              <h5>Reloj inteligente</h5>
              <h6>$680.999</h6>
           </div>
        </div>
     </div>

     <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
           <div class="option_container">
              <div class="options">
                 
                 <a href="" class="option2">Comprar Ahora</a>
              </div>
           </div>
           <div class="img-box">
              <img src="{{url_for('static', filename='assets/images/Reloj.jpg')}}" alt="">
           </div>
           <div class="detail-box">
              <h5>Reloj Oro 24k</h5>
              <h6>$14.075.000</h6>
           </div>
        </div>
     </div>

     <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
           <div class="option_container">
              <div class="options">
                
                 <a href="" class="option2">Comprar Ahora</a>
              </div>
           </div>
           <div class="img-box">
              <img src="{{url_for('static', filename='assets/images/GorraA.jpg')}}" alt="">
           </div>
           <div class="detail-box">
              <h5>Gorra De hombre</h5>
              <h6>$75.000</h6>
           </div>
        </div>
     </div>

     <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
           <div class="option_container">
              <div class="options">
                 
                 <a href="" class="option2">Comprar Ahora</a>
              </div>
           </div>
           <div class="img-box">
              <img src="{{url_for('static', filename='assets/images/GorraIndios.jpg')}}" alt="">
           </div>
           <div class="detail-box">
              <h5>Gorra De hombre</h5>
              <h6>$80.000</h6>
           </div>
        </div>
     </div>

     <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
           <div class="option_container">
              <div class="options">
                 
                 <a href="" class="option2">Comprar Ahora</a>
              </div>
           </div>
           <div class="img-box">
              <img src="{{url_for('static', filename='assets/images/GorraNYb.jpg')}}" alt="">
           </div>
           <div class="detail-box">
              <h5>Gorra De hombre</h5>
              <h6>$85.000</h6>
           </div>
        </div>
     </div>

     <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
           <div class="option_container">
              <div class="options">
                
                 <a href="" class="option2">Comprar Ahora</a>
              </div>
           </div>
           <div class="img-box">
              <img src="{{url_for('static', filename='assets/images/GorraOU.jpg')}}" alt="">
           </div>
           <div class="detail-box">
              <h5>Gorra De hombre</h5>
              <h6>$95.000</h6>
           </div>
        </div>
     </div>

     <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
           <div class="option_container">
              <div class="options">
                 
                 <a href="" class="option2">Comprar Ahora</a>
              </div>
           </div>
           <div class="img-box">
              <img src="{{url_for('static', filename='assets/images/Gafaslujos.jpg')}}" alt="">
           </div>
           <div class="detail-box">
              <h5>Gafas de lujos</h5>
              <h6>$60.000</h6>
           </div>
        </div>
     </div>

     <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
           <div class="option_container">
              <div class="options">
                 
                 <a href="" class="option2">Comprar Ahora</a>
              </div>
           </div>
           <div class="img-box">
              <img src="{{url_for('static', filename='assets/images/Gafasredondas.jpg')}}" alt="">
           </div>
           <div class="detail-box">
              <h5>Gafas de lujos redondas</h5>
              <h6>$65.000</h6>
           </div>
        </div>
     </div>

     <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
           <div class="option_container">
              <div class="options">
                
                 <a href="" class="option2">Comprar Ahora</a>
              </div>
           </div>
           <div class="img-box">
              <img src="{{url_for('static', filename='assets/images/Cadena1.jpg')}}" alt="">
           </div>
           <div class="detail-box">
              <h5>Cadena versace</h5>
              <h6>$6.500.000</h6>
           </div>
        </div>
     </div>

     <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
           <div class="option_container">
              <div class="options">
                 
                 <a href="" class="option2">Comprar Ahora</a>
              </div>
           </div>

           <div class="img-box">
              <img src="{{url_for('static', filename='assets/images/Cadena2,jpg.jpg')}}" alt="">
           </div>
           <div class="detail-box">
              <h5>Cadena de oro 24k F</h5>
              <h6> $2.500.000</h6>
           </div>
        </div>
     </div>
  </div>
-->
<section class="container">
   <div class="products">
       <div class="carts">
         <div class="img-box">
            <img src="{{url_for('static', filename='assets/images/Gorra.jpg')}}" alt="">
            <p><span>35</span>$</p>
         </div>
           <p class="title">Gorra Monastery</p>
           <a href="" data-id="1" class="btn-add-cart">Agregar</a>
       </div>
       <div class="carts">
         <div class="img-box">
            <img src="{{url_for('static', filename='assets/images/Gafasredondas.jpg')}}" alt="">
            <p><span>35</span>$</p>
         </div>
           <p class="title">Gafas de lujos</p>
           <a href="" class="btn-add-cart" data-id="2">Agregar</a>
       </div>
       <div class="carts">
           <div>
               <img src="{{url_for('static', filename='assets/images/RelojIn.jpg')}}" alt="">
               <p><span>15.50</span>$</p>
           </div>
           <p class="title"> Reloj Inteligente</p>
           <a href="" data-id="3" class="btn-add-cart">Agregar</a>
       </div>
       <div class="carts">
           <div>
               <img src="{{url_for('static', filename='assets/images/GorraNY.jpg')}}" alt="">
               <p><span>20.20</span>$</p>
           </div>
           <p class="title">Gorra NY</p>
           <a href="" data-id="4" class="btn-add-cart">Agregar</a>
       </div>
       <div class="carts">
           <div>
               <img src="{{url_for('static', filename='assets/images/Gafaslujos.jpg')}}" alt="">
               <p><span>19</span>$</p>
           </div>
           <p class="title">Gafas versace</p>
           <a href="" data-id="5" class="btn-add-cart">Agregar</a>
       </div>
       <div class="carts">
           <div>
               <img src="{{url_for('static', filename='assets/images/RelojF.jpg')}}" alt="">
               <p><span>45</span>$</p>
           </div>
           <p class="title">Reloj femenino</p>
           <a href="" data-id="6" class="btn-add-cart">Agregar</a>
       </div>
       <div class="carts">
           <div>
               <img src="{{url_for('static', filename='assets/images/GorraA.jpg')}}" alt="">
               <p><span>23.99</span>$</p>
           </div>
           <p class="title">Gorra Anaheim</p>
           <a href="" data-id="7" class="btn-add-cart">Agregar</a>
       </div>
       <div class="carts">
           <div>
               <img src="{{url_for('static', filename='assets/images/Gafas gamer.jpg')}}" alt="">
               <p><span>50</span>$</p>
           </div>
           <p class="title">Gafas gamer</p>
           <a href="" data-id="8" class="btn-add-cart">Agregar</a>
       </div>
       <div class="carts">
           <div>
               <img src="{{url_for('static', filename='assets/images/RelojI.jpg')}}" alt="">
               <p><span>16</span>$</p>
           </div>
           <p class="title">Reloj Invicta</p>
           <a href="" data-id="9" class="btn-add-cart">Agregar</a>
       </div>
       <div class="carts">
           <div>
               <img src="{{url_for('static', filename='assets/images/GorraIndios.jpg')}}" alt="">
               <p><span>17.50</span>$</p>
           </div>
           <p class="title">Gorra de los Indios</p>
           <a href="" data-id="10" class="btn-add-cart">Agregar</a>
       </div>
       <div class="carts">
           <div>
               <img src="{{url_for('static', filename='assets/images/Cadena1.jpg')}}" alt="">
               <p><span>45</span>$</p>
           </div>
           <p class="title">Cadena versace</p>
           <a href="" data-id="11" class="btn-add-cart">Agregar</a>
       </div>
   </div>
</section>






<script>
   function showCart(x){
       document.getElementById("products-id").style.display = "block";
   }
   function closeBtn(){
        document.getElementById("products-id").style.display = "none";
   }

</script>


   
</div>
</section>
{% endblock %}

