{% extends "./layout.html" %}
{% block body %}
      <div class="hero_area">
         <!-- header section strats -->
         <header class="header_section">
            <div class="container">
               <nav class="navbar navbar-expand-lg custom_nav-container ">
                  <a class="navbar-brand" href="/fronted/index"><img width="250" src="{{url_for('static', filename='assets/images/logo.png')}}" alt="#" /></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class=""> </span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav">

                        <li class="nav-item active">
                           <a class="nav-link" href="/fronted/index">Inicio  <span class="sr-only">(current)</span></a>
                        </li>
                       
                        <li class="nav-item">
                           <a class="nav-link" href="/fronted/productos">Productos</a>
                        </li>
                        
                        <li class="nav-item">
                           <a class="nav-link" href="/fronted/contacto">Contactos</a>
                        </li>





                        
 
                            <input type="checkbox" id="btn-modal">
                            <label for="btn-modal" class="lbl-modal">SING IN</label>
                            <div class="modal">


                             
                              
                                <h3>

                                    <div class="contenedor__todo">
                                        <div class="caja__trasera">
                                          <a href="#" class="modal-exit" onclick="cerrarV()">x</a>
                                            <div class="caja__trasera-login">
                                                <h3>¿Ya tienes una cuenta?</h3>
                                                <p>Inicia sesión para entrar en la página</p>
                                                <button id="btn__iniciar-sesion" onclick="iniciarSesion()">Iniciar Sesión</button>
                                            </div>
                                            <div class="caja__trasera-register">
                                                <h3>¿Aún no tienes una cuenta?</h3>
                                                <p>Regístrate para que puedas iniciar sesión</p>
                                                <button id="btn__registrarse" onclick="register()">Regístrarse</button>
                                            </div>
                                        </div>

                                        <!--Formulario de Login y registro-->
                                        <div class="contenedor__login-register">
                                            <!--Login-->
                                            <form action="" class="formulario__login">
                                                <h2>Iniciar Sesión</h2>
                                                <select id="tipoPersonalogin" name="tipos" >
                                                   <option value="Selecciona">Selecciona Tipo</option>
                                                   <option value="PersonaNormal">Persona Normal</option>
                                                   <option value="Repartidor">Repartidor</option>
                                               </select>
                                                <input id="email" type="text" placeholder="Correo Electronico">
                                                <input id="pass" type="password" placeholder="Contraseña">
                                                <button type="button" onclick="ingresos()">Entrar</button>
                                            </form>

                                            <!--Register-->
                                            <form action=""class="formulario__register">
                                                <h2>Regístrarse</h2>

                                                <select id="tipoPersona" name="tipos" onchange="tipo()">
                                                   <option value="Selecciona">Selecciona Tipo</option>
                                                   <option value="PersonaNormal">Persona Normal</option>
                                                   <option value="Repartidor">Repartidor</option>
                                                 </select>
                                                 
                  

                                                <input id="nombre" type="text" placeholder="Nombre completo">
                                                <input id="correo" type="text" placeholder="Correo Electronico">
                                                <input id="contraseña" type="password" placeholder="Contraseña">
                                                <input id="nomusario" type="text" placeholder="Usuario">
                                               
                                                <input type="text" id="direc" placeholder="Direccion">
                                                <input  type="text" id="telefono" placeholder="Telefono"> 
                                                <button type="button" onclick="Guar_Clientes()">Regístrarse</button>
                                            </form>

                                            
                                        </div>
                                    </div>

                                </h3>
                            </div>


                            <div class="dropdown-content">
                                <div class="separator"></div>
                                <div class="content" style="padding:0"></div>
                            </div>
                       

                        <div class="position-relative">
                           <input type="text" class="form-control" placeholder="Search...">
                       </div>
                     </ul>
                  </div>
               </nav>
            </div>
         </header>
         <!-- end header section -->
         
      
      
      
      
      <!-- product section end product section -->
      <section class="product_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2><span>Productos</span></h2>
            </div>

           <div class="row">

               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           
                           
                        </div>
                     </div>
                     <div class="img-box"><img src="{{url_for('static', filename='assets/images/Camisa.png')}}"alt=""></div>
                     <div class="detail-box">
                        <h5> Camisa de hombre</h5>
                        <h6>$75.000</h6>
                     </div>
                  </div>
               </div>


               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                          
                           
                        </div>
                     </div>
                     <div class="img-box"><img src="{{url_for('static', filename='assets/images/Gorra.jpg')}}" alt=""></div>
                     <div class="detail-box">
                        <h5>Gorra Monastery Arabella Camel</h5>
                        <h6>$280.000</h6>
                     </div>
                  </div>
               </div>


               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           
                           
                        </div>
                     </div>
                     <div class="img-box"><img src="{{url_for('static', filename='assets/images/Gafas gamer.jpg')}}" alt=""></div>
                     <div class="detail-box">
                        <h5>Sony Ps Gafas Virtual </h5>
                        <h6>$680.000</h6>
                     </div>
                  </div>
               </div>


               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           
                           
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="{{url_for('static', filename='assets/images/Arroz.jpg')}}" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>Arroz Chino 2Lb</h5>
                        <h6>$28.500</h6>
                     </div>
                  </div>
               </div>


               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           
                          
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="{{url_for('static', filename='assets/images/Chaqueta.jpg')}}" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>Jacket Versace Couture </h5>
                        <h6>$2.499.999</h6>
                     </div>
                  </div>
               </div>


               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           
                           
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="{{url_for('static', filename='assets/images/T.V.jpg')}}" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>TV LG 77"</h5>
                        <h6> $39.999.900</h6>
                     </div>
                  </div>
               </div>


               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           
                           
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="{{url_for('static', filename='assets/images/Pizza.png')}}" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>Pizza pepperoni-Familiar</h5>
                        <h6>$30.000 </h6>
                     </div>
                  </div>
               </div>


               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           
                           
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="{{url_for('static', filename='assets/images/Reloj.jpg')}}" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>Reloj Invicta </h5>
                        <h6>$14.075.000</h6>
                     </div>
                  </div>
               </div>


               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           
                           
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="{{url_for('static', filename='assets/images/Portatil.jpg')}}" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>Portatil gamer </h5>
                        <h6>$1.660.000</h6>
                     </div>
                  </div>
               </div>


               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           
                           
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="{{url_for('static', filename='assets/images/Salchipapa.jpg')}}" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>Salchipapa La mamá de la mamá</h5>
                        <h6>$75.000</h6>
                     </div>
                  </div>
               </div>


               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                          
                           
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="{{url_for('static', filename='assets/images/Zapatos.jpg')}}" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>Tenis blancos hombre</h5>
                        <h6>$165.000</h6>
                     </div>
                  </div>
               </div>


               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           
                           
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="{{url_for('static', filename='assets/images/iPhone 14PRO+.jpg')}}" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>Celular Iphone 14 Pro</h5>
                        <h6>$6,099,900.00</h6>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      


{% endblock %}