{% extends "./layout.html" %}
{% block body %}
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
       <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html"><img width="250" src="{{url_for('static', filename='assets/images/logo.png')}}" alt="#" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav">
                <li class="nav-item">
                   <a class="nav-link" href="/fronted/index">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label"> Categorias <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                     <li><a href="/fronted/accesorios">Accesorios</a></li>
                     <li><a href="/fronted/ropa">Ropa</a></li>
                     <li><a href="/fronted/comida">Comida</a></li>
                  </ul>
               </li>
             </ul>
          </div>
       </nav>
    </div>
 </header>
 <!-- end header section -->
</div>
<!-- inner page section -->
<section class="inner_page_head">
 <div class="container_fuild">
    <div class="row">
       <div class="col-md-12">
          <div class="full">
             <h3>ROPA</h3>
          </div>
       </div>
    </div>
 </div>
</section>
<!-- end inner page section -->
<!-- product section -->
<section class="product_section layout_padding">

    <div class="row">

       <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
             <div class="option_container">
                <div class="options">
                   
                   <a href="" class="option2">Comprar Ahora</a>
                </div>
             </div>
             <div class="img-box">
                <img src="{{url_for('static', filename='assets/images/Camisa.png')}}" alt="">
             </div>
             <div class="detail-box">
                <h5>Camisa De hombre </h5>
                <h6>$75.000</h6>
             </div>
          </div>
       </div>

       <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
             <div class="option_container">
                <div class="options">
                  
                   <a href="" class="option2">Comprar Ahora</a>
                </div>
             </div>
             <div class="img-box">
                <img src="{{url_for('static', filename='assets/images/p2.png')}}" alt="">
             </div>
             <div class="detail-box">
                <h5>Blazers de hombre </h5>
                <h6>$99.999</h6>
             </div>
          </div>
       </div>

       <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
             <div class="option_container">
                <div class="options">
                 
                   <a href="" class="option2">Comprar Ahora</a>
                </div>
             </div>
             <div class="img-box">
                <img src="{{url_for('static', filename='assets/images/JEansdama.jpg')}}" alt="">
             </div>
             <div class="detail-box">
                <h5>Jeans De Dama</h5>
                <h6>$89.999</h6>
             </div>
          </div>
       </div>

       <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
             <div class="option_container">
                <div class="options">
                  
                   <a href="" class="option2">Comprar Ahora</a>
                </div>
             </div>
             <div class="img-box">
                <img src="{{url_for('static', filename='assets/images/p4.png')}}" alt="">
             </div>
             <div class="detail-box">
                <h5>Vestido de dama</h5>
                <h6>$120.000</h6>
             </div>
          </div>
       </div>

       <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
             <div class="option_container">
                <div class="options">
                   
                   <a href="" class="option2">Comprar Ahora</a>
                </div>
             </div>
             <div class="img-box">
                <img src="{{url_for('static', filename='assets/images/Chaqueta.jpg')}}" alt="">
             </div>
             <div class="detail-box">
               <h5>Jacket Versace Couture </h5>
               <h6>$2.499.999</h6>
            </div>
          </div>
       </div>

       <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
             <div class="option_container">
                <div class="options">
                   
                   <a href="" class="option2">Comprar Ahora</a>
                </div>
             </div>
             <div class="img-box">
                <img src="{{url_for('static', filename='assets/images/Parkas.jpg')}}" alt="">
             </div>
             <div class="detail-box">
                <h5>Jacket Hombre Lyons</h5>
                <h6>$3.800.000</h6>
             </div>
          </div>
       </div>

       <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
             <div class="option_container">
                <div class="options">
                   
                   <a href="" class="option2">Comprar Ahora</a>
                </div>
             </div>
             <div class="img-box">
                <img src="{{url_for('static', filename='assets/images/BlusaVer.jpg')}}" alt="">
             </div>
             <div class="detail-box">
                <h5>Blusa verde de Dama</h5>
                <h6>$80.000</h6>
             </div>
          </div>
       </div>

       <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
             <div class="option_container">
                <div class="options">
                   
                   <a href="" class="option2">Comprar Ahora</a>
                </div>
             </div>
             <div class="img-box">
                <img src="{{url_for('static', filename='assets/images/BuzoFemina.jpg')}}" alt="">
             </div>
             <div class="detail-box">
                <h5>Buzo de dama </h5>
                <h6>$95.000</h6>
             </div>
          </div>
       </div>

       <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
             <div class="option_container">
                <div class="options">
                   
                   <a href="" class="option2">Comprar Ahora</a>
                </div>
             </div>
             <div class="img-box">
                <img src="{{url_for('static', filename='assets/images/p9.png')}}" alt="">
             </div>
             <div class="detail-box">
                <h5>Camisa de Hombre manga larga</h5>
                <h6>$75.000</h6>
             </div>
          </div>
       </div>

       <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
             <div class="option_container">
                <div class="options">
                   
                   <a href="" class="option2">Comprar Ahora</a>
                </div>
             </div>
             <div class="img-box">
                <img src="{{url_for('static', filename='assets/images/p10.png')}}" alt="">
             </div>
             <div class="detail-box">
                <h5>Camisa de Hombre manga larga</h5>
                <h6>$65.000</h6>
             </div>
          </div>
       </div>

       <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
             <div class="option_container">
                <div class="options">
                  
                   <a href="" class="option2">Comprar Ahora</a>
                </div>
             </div>
             <div class="img-box">
                <img src="{{url_for('static', filename='assets/images/p11.png')}}" alt="">
             </div>
             <div class="detail-box">
                <h5>Camisa de Hombre</h5>
                <h6>$65.000</h6>
             </div>
          </div>
       </div>

       <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
             <div class="option_container">
                <div class="options">
                   
                   <a href="" class="option2">Comprar Ahora</a>
                </div>
             </div>

             <div class="img-box">
                <img src="{{url_for('static', filename='assets/images/p12.png')}}" alt="">
             </div>
             <div class="detail-box">
                <h5>Vestido de dama</h5>
                <h6> $550.000</h6>
             </div>
          </div>
       </div>
    </div>

   
 </div>
</section>
<!-- end product section -->



{% endblock %}